:coffee
  $ ->
    date_from = '#{ @user_date_range.first.to_s }'
    date_to = '#{ @user_date_range.last.to_s }'

    window.user_graph_url = '#{ statistics_user_graph_path(only_url_params.merge({hotspot_id: @hotspot.try(:id)})) }'
    window.user_table_url = '#{ statistics_user_table_path(only_url_params.merge({hotspot_id: @hotspot.try(:id)})) }'

    # initial loading
    StatisticPage.initUserDatePicker(date_from, date_to)
    StatisticPage.loadUserGraph('.user-graph', date_from, date_to)
    StatisticPage.loadUserTable('.user-table', date_from, date_to)

= row_panel do
  = hidden_field_tag 'users[date][from]', '', id: 'users_date_from'
  = hidden_field_tag 'users[date][to]', '', id: 'users_date_to'
  .panel-heading
    .panel-title
      %h4= t('.header')
      .panel-buttons
        .btn.btn-success.user-datepicker
          %i.glyphicon.glyphicon-calendar.fa.fa-calendar
          %span
            = l @user_date_range.first, format: :long
            \-
            = l @user_date_range.last, format: :long
          %b.caret
  .panel-body
    .row
      %small.col-md-4.col-md-offset-8.user-table
    .row
      .col-md-12
        .user-graph.c3-charts
