!!! Strict
%HTML
  %HEAD
    %META{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %META{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}
    %TITLE АГЕНТСКИЙ ДОГОВОР №#{@agreement.doc_number}
    :css
    #{Rails.application.assets.find_asset('agreements.scss').source}
  %BODY
    #page_1.page
      .content

        .title АГЕНТСКИЙ ДОГОВОР №#{@agreement.doc_number}

        %table
          %tr
            %td
            г. Москва
            %td.ar
            = l(@agreement.doc_date, format: "«%d» %B %Y г.")

        %p Общество с ограниченной ответственностью «2ВАЙФАЙ», в лице Генерального директора Гордона Константина Александровича, действующего на основании Устава, именуемое в дальнейшем «Принципал», с одной стороны, и ______________________________________, именуемое в дальнейшем «Агент», в лице _______________________________, действующего на основании ___________, с другой стороны, далее вместе именуемые «Стороны», по отдельности – «Сторона», заключили настоящий договор (далее – «Договор»), о нижеследующем:


        .header 1.	Термины и определения
        %p В настоящем Договоре следующие термины и определения имеют значение, указанное ниже, если иное прямо не установлено настоящим Договором:
        %p 1.1.	«Договор» означает настоящий Договор вместе со всеми Приложениями, Изменениями, Дополнениями и Дополнительными соглашениями к нему.
        %p 1.2.	«Пользователь» - физические лица (в том числе, посетители Помещений Абонента), подключающиеся к беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть Интернет.
        %p 1.3.	«Абоненты» - клиенты Агента, пользующиеся услугами Принципала по заключенному Договору об оказании услуг, образец которого приведен в Приложении №1 к Договору.
        %p 1.4.	«Помещения абонента» – общественные места, места общего доступа (рестораны, кафе, иные подобные места).
        %p 1.5.	«Услуги Принципала Абонентам» означает услуги, оказываемые Принципалом Абонентам после получения предварительного согласия Пользователя Принципалом, а именно:
        %p - Система идентификации: система регистрации идентификационных данных Пользователей с целью авторизации Пользователей, в том числе путем направления смс-сообщения с кодом идентификации после обращения устройства Пользователя на доступ к сети интернет, производимая Пользователем с целью получения доступа к беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть Интернет.
        %p - Баннерная реклама при подключении к беспроводной сети Интернет: предоставление Абоненту баннерной платформы по показу рекламы Пользователям в браузере Пользователей непосредственно перед предоставлением сеансового доступа к сети Интернет; (макеты и технические требования размещаются в личном кабинете Абонента);
        %p - СМС Рассылка: Рассылка смс-сообщений на телефонные номера Пользователей, содержащих информацию рекламного характера об Абоненте;
        %p - Реклама в социальных сетях: Показ рекламы Абонента в социальных сетях по базе данных Пользователей с использованием аккаунта социальной сети Пользователей.
        %p 1.6.	Идентификационные данные – номер телефона, а также mac-адрес устройства Пользователя.
        %p 1.7.	«Договор об оказании услуг» означает договор об оказании Услуг, заключаемый Агентом от имени Принципала с Абонентами. Образец договора приведен в Приложении №1 к настоящему Договору.
        %p 1.8.	«Отчетный период» означает календарный месяц, в котором Принципалу были оказаны услуги по настоящему Договору.
        %p 1.9.	«Расчетный период» означает календарный месяц, следующий за месяцем, в котором Принципалу были оказаны услуги по настоящему Договору.
        %p Все приложения к настоящему Договору являются его неотъемлемыми частями.


        .header 2.	Предмет Договора
        %p 2.1.	Принципал самостоятельно осуществляет деятельность, связанную с оказанием собственных услуг.
        %p 2.2.	Агент самостоятельно осуществляет деятельность, направленную на привлечение внимания к Услугам Принципала Абонентами, а также формирование и поддержание интереса к Услугам Принципала Абонентами.
        %p 2.3.	По настоящему Договору Агент обязуется от имени Принципала, но за свой счет, совершать юридические и иные действия, направленные на предоставление Абонентам услуг Принципала, без участия в расчетах, а именно:
        %p a)	Вести переговорную работу с Абонентом, направленную на последующее заключение договора между Абонентом и Принципалом;
        %p b)	Заключать от имени Принципала Договоры об оказании услуг с Абонентами и информировать об этом Принципала;
        %p c)	Самостоятельно приобретать, настраивать и осуществлять монтаж телекоммуникационного оборудования, в соответствии с рекомендациями Принципала, в целях установки на Объектах;
        %p d)	Самостоятельно осуществлять демонтаж телекоммуникационного оборудования в случае расторжение Договора об оказании услуг между Принципалом и Абонентом;
        %p e)	Обеспечивать доставку первичных документов от Абонента Принципалу, в том числе оригинал Договора об оказании услуг, подписанный Абонентом и Актов об оказании услуг за каждый Отчетный период;
        %p f)	По поручению Принципала совершать от имени и за счет Принципала или от своего имени и за счет Принципала иные, помимо указанных в настоящем Договоре, юридические и фактические действия (размер и порядок выплат вознаграждения за совершения таких действий определяется отдельно по соглашению Сторон).
        %p 2.5.	Принципал оплачивает Агенту вознаграждение согласно разделу 4 «Расчеты между Сторонами», настоящего Договора.

        .header 3.	Права и обязанности Сторон
        %p 3.1.	Принципал обязан:
        %p 3.1.1.	Устанавливать и доводить до Агента стоимость Услуг Принципала Абонентам. Принципал обязан, не менее чем за 15 (пятнадцать) календарных дней до даты введения изменений в стоимость Услуг Принципала Абонентам, письменно уведомить Агента о таких изменениях. Стоимость Услуг Принципала Абонентам, действующая на момент подписания настоящего Договора, приведена в Приложении № 2 – «Перечень услуг и их стоимость услуг», являющегося неотъемлемой частью настоящего Договора. Любые изменения, дополнения в действующие стоимость Услуг Принципала Абонентам и сумму агентского вознаграждения Агента устанавливаются путем подписания дополнительного соглашения к настоящему Договору.
        %p 3.1.2.	Выплачивать ежемесячно Агенту вознаграждение за выполнение обязательств, предусмотренных настоящим Договором.
        %p 3.1.3.	Предоставлять Агенту документы и информацию, необходимую для исполнения Агентом настоящего Договора, в течение 5 (пяти) рабочих дней с даты получения соответствующего запроса Агента.
        %p 3.1.4.	Выдать Агенту необходимые доверенности для осуществления полномочий, предусмотренных настоящим Договором.
        %p 3.1.5.	Обеспечивать соблюдение действующего законодательства в части оказания Услуг Абонентам.
        %p 3.1.8	Предоставить Агенту личный кабинет для ведения учета оплаты в отношении Услуг Принципала Абонентам.
        %p 3.1.9	Предоставить Агенту личный кабинет для ведения расчетов с Абонентами от имени Принципала, в том числе, для выставления счетов, а также Актов оказанных услуг.
        %p 3.1.10	В соответствии с условиями Договора об оказании услуг обеспечить возврат денежных средств Абонентам, уплаченных за пользование Услугами Принципала Абонентам, за периоды, когда отсутствовала возможность воспользоваться этими рассматриваемыми услугами не по вине Абонента, а также возврат средств, внесенных Абонентами в качестве авансового платежа при досрочном расторжении Договора с Принципалом.
        %p 3.1.11	При образовании задолженности за Услуги Принципала Абонентам, приостанавливать оказание Услуг Принципала Абонентам в соответствии с условиями Договора об оказании услуг.
        %p 3.1.12	Предъявлять к Абонентам все требования об оплате оказанных Принципалом Услуг.
        %p 3.1.13	Осуществлять информационно-справочное обслуживание Абонентов через информационно-справочную службу Принципала в соответствии с действующим законодательством РФ.
        %p 3.1.14	Предоставить Агенту и Абонентам информацию, необходимую для информационной поддержки Абонентов (адреса, и режимы работы справочно-сервисных служб, службы приема претензий Принципала).
        %p 3.1.15	Самостоятельно отвечать за выполнение требований законодательства о защите персональных данных, законодательства РФ о рекламе, а также требований законодательства, связанного с оказанием Услуг Принципала Абонентам.
        %p 3.2.		Принципал имеет право:
        %p 3.2.1.	Производить проверки правильности выполнения Агентом условий настоящего Договора.
        %p 3.3.	Агент обязан:
        %p 3.3.1.	Осуществлять полномочия и выполнять обязанности, предусмотренные настоящим Договором, в соответствии с условиями Договора.
        %p 3.3.2.	Самостоятельно приобретать, настраивать и монтировать телекоммуникационное оборудование, в соответствии с рекомендациями Принципала, в целях установки в помещении Абонента.
        %p 3.3.3.	Не заключать с другими юридическими и физическими лицами аналогичных договоров, соглашений и тп. которые должны исполняться на территории Российской Федерации;
        %p 3.3.4.	При подключении Абонента производить демонстрацию возможностей Программного комплекса Принципала сотрудникам Объекта.
        %p 3.3.5.	Не предпринимать попыток самостоятельного получения исходных кодов, программ и/или алгоритмов их работы Программного комплекса Принципала, а равно не предоставлять такую возможность третьим лицам.
        %p 3.3.6.	Обеспечить мониторинг функционирования монтированного на территории Объекта оборудования.
        %p 3.3.7.	Самостоятельно осуществлять демонтаж телекоммуникационного оборудования в случае расторжение Договора об оказании услуг между Принципалом и Абонентом;
        %p 3.3.8.	При образовании задолженности за Услуги Принципала Абонентам, вести претензионную работу по взысканию её с Абонентов, в том числе приостанавливать оказание Услуг Принципала Абонентам в соответствии с условиями Договора об оказании услуг.
        %p 3.3.9.	Незамедлительно сообщать Принципалу обо всех изменениях, связанных с фактами заключения новых Договоров, расторжения и приостановкой ранее заключенных договоров.
        %p 3.3.10.	Расторгать договоры на оказание Услуг Принципала Абонентам с Абонентами, уведомив об этом Принципала не менее чем за 30 (тридцать) календарных дней до даты расторжения.
        %p 3.3.11.	Информация, получаемая Принципалом из Отчета Агента и данных учетной системы Принципала об оказанных Абонентам Услугах Принципала Абонентам, является единственным и достаточным основанием для проведения взаиморасчетов Сторон и не подлежит доказыванию со стороны Агента.
        %p 3.3.12.	Без предварительного согласования с Принципалом не передавать свои полномочия по исполнению настоящего Договора третьим лицам, в частности – не заключать субагентских договоров.
        %p 3.3.13.	Для исполнения обязательств по настоящему Договору не привлекать третьих лиц без предварительного согласования с Принципалом;
        %p 3.3.14.	В течении 10 (десяти) рабочих дней после окончания Отчетного периода, предоставлять Принципалу:
        %ul
          %li 2 (два) экземпляра оригинала Отчета Агента, а также Акт об оказанных услугах
          %li оригинал счета на вознаграждение Агента
          %li подписанный со стороны Абонента акт оказания услуг по Договору об оказания услуг между Принципалом и Абонентом;
        %p 3.3.15.	В течение 5 (пяти) рабочих дней после подключения Абонента направлять:
        %ul
          %li оригиналы заключенных от имени Принципала с Абонентами Договоров об оказании услуг.
        %p 3.4.	Агент имеет право:
        %p 3.4.1.	На получение от Принципала вознаграждения за выполнение Агентом обязательств, предусмотренных настоящим Договором в размере и порядке, предусмотренном разделом 4 настоящего Договора.
        %p 3.4.2.	Получать информацию и документы от Принципала, необходимые для выполнения принятых на себя обязательств по настоящему Договору.
        %p 3.4.3.	Агент не имеет права заключать от имени Принципала дополнительные соглашения к Договорам, заключенным между Принципалом и Абонентом без предварительного согласования с Принципалом, в отношении следующих изменений:
        %p -	изменения стоимости Услуг Принципала Абонентам;
        %p 3.5.	Стороны обязуются:
        %p 3.5.1.	При выполнении условий настоящего Договора руководствоваться действующим законодательством РФ и Договором.
        %p 3.6.	Стороны вправе:
        %p 3.6.1.	Проводить совместные рекламные и маркетинговые акции, в том числе на основании отдельных соглашений пропорционально оплачивать стоимость таких рекламных и маркетинговых услуг.

        .header 4.	Расчеты между Сторонами
        %p 4.1.	Взаиморасчеты между Сторонами осуществляются на основании настоящего Договора и Отчета Агента за Отчетный период, Акта об оказанных Услугах, счета на сумму агентского вознаграждения. Сумма агентского вознаграждения рассчитывается следующим образом: __________(______________ рублей), в том числе НДС 18%, ежемесячно с момента заключения Договора об оказании услуг с Абонентом за каждый действующий в Отчетном периоде договор.
        %p 4.2.	В течение 5 (пяти) рабочих дней после окончания Отчетного периода Агент составляет Отчет Агента, в котором указываются Отчетный период, размер вознаграждения Агента и данные расчета вознаграждения Агента. Копия Отчета Агента направляется Принципалу по электронной почте, реквизиты которой указаны в разделе 12 настоящего Договора, оригиналы документов направляются заказным письмом или курьером с уведомлением о вручении.
        %p 4.3.	Сумма вознаграждения Агента перечисляется Принципалом в течение 5 (пяти) рабочих дней после утверждения Отчета Агента и получения оригиналов актов по Договору об оказании услуг между Принципалом и Абонентом, подписанных Абонентами за Отчетный период.
        %p 4.4.	В течение 5 (пяти) рабочих дней с момента получения Отчета Агента, Принципал подписывает и направляет Агенту подписанные со своей стороны документы, либо предоставляет письменные мотивированные возражения. В случае не подписания Отчета, либо не направления мотивированных возражений, услуги Агента считаются принятыми в полном объеме.
        %p 4.5.	При отсутствии замечаний, Принципал утверждает Отчет Агента и направляет Агенту документы по электронной почте. Оригиналы документов направляются заказным письмом или курьером с уведомлением о вручении.
        %p 4.6.	Для устранения замечаний по документам, представленным Агентом, Стороны в течение 5 рабочих дней с момента направления Принципалом письменного уведомления Агенту о наличии замечаний, проводят дальнейшие переговоры и осуществляют сверку / детализацию данных Сторон. По результатам проведения сверки данных Стороны составляют и подписывают Акт сверки расчетов между Сторонами (далее – «Акт сверки»), и, при необходимости, производят перерасчет платежей в последующих Расчетных периодах. Подписание Акта сверки между Сторонами означает утверждение Принципалом Отчета Агента.
        %p 4.7.	Все платежи от Абонентов за Услуги Принципала Абонентам поступают на расчетные счета Принципала, либо расчетные счета уполномоченных им третьих лиц.
        %p 4.8.	По мере необходимости Принципал и Агент проводят сверку взаиморасчетов. Акт сверки взаиморасчетов составляется заинтересованной Стороной в двух экземплярах и подписывается уполномоченными представителями Сторон. Сторона, которой направлен Акт сверки взаиморасчетов, должна в течение 15 (пятнадцати) рабочих дней с момента получения Акта сверки взаиморасчетов подписать его или представить возражения по поводу достоверности содержащейся в нем информации.

        .header 5.	Ответственность
        %p 5.1.	За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору Стороны несут ответственность в соответствии с действующим законодательством РФ.
        %p 5.2.	 В случае нарушения Принципалом сроков исполнения своих обязательств по расчетам по настоящему Договору, Агент вправе взыскать с Принципала пеню в размере 0,1% (ноль целых пять десятых процента) от суммы, подлежащей оплате, за каждый день просрочки, но не более 10% (десяти процентов) от суммы задолженности. Сторона, нарушившая сроки исполнения обязательств по расчетам, обязана оплатить пени другой Стороне в течение 10 (десяти) рабочих дней с момента получения соответствующего письменного требования об оплате и выставленного счета.
        %p 5.3.	В случае предъявления каких-либо претензий и/или требований Абонентами, контролирующими государственными органами, любыми третьими лицами, Агент обязуется за свой счет и без привлечения Принципала урегулировать предъявленные требования и претензии. В случае наложения на Принципала штрафов, либо возникновения ущерба иного рода вследствие нарушения Агентом своих обязательств по Договору, Агент обязуется компенсировать Принципалу понесенный ущерб в течение 10 (десяти) рабочих дней с момента получения соответствующего письменного требования об оплате и выставленного счета.

        .header 6.	Конфиденциальность
        %p 6.1.	Стороны данного Договора обязуются сохранять конфиденциальность всей информации, которая становится доступной Сторонам в процессе исполнения данного Договора, и которая считается конфиденциальной хотя бы одной из Сторон.
        %p 6.2.	Если какая-либо из Сторон предоставляет информацию другой Стороне и считает эту информацию конфиденциальной, то передающая информацию Сторона должна определить ее как конфиденциальную и поставить об этом в известность Сторону, которой передается информация, в каком бы виде эта информация не передавалась.
        %p 6.3.	Если конфиденциальная информация предоставляется в письменном или печатном виде, на магнитных носителях или в каком-либо другом осязаемом виде, она должна быть помечена как конфиденциальная.
        %p 6.4.	Если конфиденциальная информация предоставляется устно, должно быть указано, что она носит конфиденциальный характер, и это должно быть письменно подтверждено в течение периода времени, не превышающего 10 (десяти) рабочих дней.
        %p 6.5.	В случае прекращения действия настоящего Договора (в том числе при досрочном расторжении Договора), Стороны, безусловно, обязуются исполнять обязательства, определенные в разделе 6 настоящего Договора в течение 3 (трех) лет после прекращения действия настоящего Договора.

        .header 7.	Обстоятельства непреодолимой силы
        %p 7.1.	Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение своих обязательств по настоящему Договору, если докажут, что надлежащее исполнение оказалось невозможным вследствие непреодолимой силы, то есть чрезвычайных, непредвиденных и непредотвратимых при данных условиях обстоятельств.
        %p 7.2.	Сторона, подвергшаяся действию непреодолимой силы, обязана в течение 10 (десяти) рабочих дней уведомить другую Сторону о характере, виде, предполагаемой продолжительности действия непреодолимой силы, а также о том, выполнению каких обязанностей по Договору она препятствует, и представить доказательства наступления таких обстоятельств. В случае отсутствия уведомления Сторона, подвергшаяся действию непреодолимой силы, не может в дальнейшем ссылаться на действие непреодолимой силы, как на основание, освобождающее ее от ответственности.
        %p 7.3.	На время действия обстоятельств непреодолимой силы продлевается срок выполнения Сторонами обязательств по Договору. Если действие обстоятельств непреодолимой силы продлится более шести месяцев, Стороны, по предложению одной из Сторон, обязаны согласовать дальнейшие условия действия и/или возможность расторжения Договора.

        .header 8.	Разрешение споров
        %p 8.1.	В случае возникновения между Принципалом и Агентом любых споров или разногласий, связанных с настоящим Договором либо невыполнением любой Стороной обязательств по Договору, Стороны приложат все усилия для их дружественного разрешения путем переговоров.
        %p 8.2.	В случае не достижения согласия при переговорах, одна из Сторон обязана до обращения в арбитражный суд выставить другой Стороне письменную претензию и обратиться в суд не ранее получения ответа от другой Стороны или по истечении 30 (тридцати) дней с момента получения другой Стороной претензии. Если спор или претензия не будут урегулированы, Стороны имеют право обратиться в Арбитражный суд г. Москвы в соответствии с действующим законодательством РФ.

        .header 9.	Уведомления
        %p 9.1.	Уведомления и сообщения могут направляться Сторонами средствами факсимильной связи, электронной почтой, заказной почтой или курьером с подтверждением о вручении адресату. При этом подтверждением доставки электронного сообщения адресату является подтверждение доставки сообщения соответствующей почтовой программой, а в случае доставки уведомления средствами факсимильной связи – экземпляр уведомления с надлежащим с отметкой (отчетом) аппарата отправителя о нормальной передаче сообщения по надлежащему телефонному номеру.
        %p Любые уведомления или иные сообщения, подлежащие передаче от одной Стороны настоящего Договора другой Стороне, должны передаваться по следующим адресам:
        %p Если получатель Агент:
        %p Электронная почта: _____________
        %p Для заказных писем и курьерской доставки: ______________________________

        %p Если получатель Принципал:
        %p Электронная почта: sales@2wifi.ru
        %p Для заказных писем и курьерской доставки: 123242, г. Москва, ул. Баррикадная, д. 8, стр. 5А
        %p 9.2.	Любая Сторона может изменить свой адрес, письменно уведомив об этом другую Сторону.

        .header 10.	Вступление в силу Договора и срок его действия
        %p 10.1.	Настоящий Договор вступает в силу с момента подписания Сторонами и действует в течение всего периода предоставления Услуг Принципалом Абонентам.
        %p 10.2.	Настоящий Договор, может быть расторгнут по письменному соглашению Сторон и по требованию одной из Сторон. Договор может быть изменен или расторгнут по решению суда:
        %p - при существенном нарушении Договора другой Стороной;
        %p - в иных случаях, предусмотренных действующим законодательством РФ.
        %p 10.3.	Вне зависимости от причин прекращения действия настоящего Договора, Агент имеет безусловное право на получение, в соответствии с разделом 4 настоящего Договора, причитающегося ему вознаграждения за обязательства, выполненные Агентом, до даты прекращения настоящего Договора.
        %p 10.4.	Все изменения и дополнения к настоящему Договору производятся по письменному согласию Сторон оформлением дополнительных соглашений, подписанных уполномоченными на то представителями Сторон, в этом случае они являются неотъемлемой частью настоящего Договора.
        %p 10.5.	Настоящий Договор подписан в двух экземплярах, имеющих одинаковую юридическую силу.

        .header %p 11.	Прочие условия
        %p 11.1.	Стороны пришли к соглашению, что по денежным обязательствам Сторон по Договору проценты за пользование денежными средствами, предусмотренные ст. 317.1 Гражданского кодекса РФ, не начисляются.
        %p 11.2.	Договор, включая все Приложения и дополнения к нему, составляет один единый документ между Принципалом и Агентом, который заменяет все другие предварительные соглашения, договоренности и другие отношения, письменные или устные между Сторонами, имеющие отношение к предмету Договора.
        %p К Договору прилагаются следующие Приложения:
        %p Приложение № 1:Образец договора об оказании услуг
        %p Приложение № 2:Перечень услуг и их стоимость.
        %p Приложение № 3: Образец доверенности.

        .header 12.	Адреса и банковские реквизиты Сторон
        %p 12.1.	Место нахождения и банковские реквизиты Сторон

        %table
          %tr
            %td(width="50%")Сторона:
            %td(width="50%")

          %tr
            %td Наименование агента
            %td

          %tr
            %td Наименование полное
            %td

          %tr
            %td Наименование краткое
            %td

          %tr
            %td ИНН
            %td

          %tr
            %td КПП
            %td

          %tr
            %td Юридический адрес
            %td

          %tr
            %td Фактический адрес
            %td

          %tr
            %td Расчетный счет
            %td

          %tr
            %td Банк
            %td

          %tr
            %td БИК
            %td

          %tr
            %td Корреспондентский счет
            %td

          %tr
            %td ОКПО
            %td

          %tr
            %td ОГРН
            %td

          %tr
            %td Телефон
            %td

          %tr
            %td Е-mail
            %td


        %table
          %tr
            %td(width="50%")Сторона:
            %td(width="50%")

          %tr
            %td Наименование агента
            %td ООО «2ВАЙФАЙ»

          %tr
            %td Наименование полное
            %td Общество с ограниченной ответственностью «2ВАЙФАЙ»

          %tr
            %td Наименование краткое
            %td ООО «2ВАЙФАЙ»

          %tr
            %td ИНН
            %td 7703391689

          %tr
            %td КПП
            %td 770301001

          %tr
            %td Юридический адрес
            %td г. Москва, ул. Баррикадная, д. 8, стр. 5А

          %tr
            %td Фактический адрес
            %td г. Москва, ул. Баррикадная, д. 8, стр. 5А

          %tr
            %td Расчетный счет
            %td 40702810000000153504

          %tr
            %td Банк
            %td в «ВТБ24» (ПАО), г. Москва

          %tr
            %td БИК
            %td 044525716

          %tr
            %td Корреспондентский счет
            %td 30101810100000000716

          %tr
            %td ОКПО
            %td 47540672

          %tr
            %td ОГРН
            %td 1157746756551

          %tr
            %td Телефон
            %td +7 (495) 278 07 16

          %tr
            %td Е-mail
            %td info@2wifi.ru


        .header 13.	Подписи Сторон

        %table

          %tr
            %td(width="50%") Сторона:
            %td(width="50%") Сторона:

          %tr
            %td
            %td ООО «2ВАЙФАЙ»

          %tr
            %td Уполномоченное лицо:
            %td Уполномоченное лицо:

          %tr
            %td
            %td Гордон К.А.

          %tr
            %td Должность:
            %td Должность:

          %tr
            %td
            %td Генеральный директор

          %tr
            %td Подпись:
            %td Подпись:

          %tr
            %td __________________________
            %td __________________________

          %tr
            %td Место печати:
            %td Место печати:






        %table
          %tr
            %td
            %td.ar
              Приложение № 1
              К агентскому договору № ___ от «___» ___________ _____

        .title Договор № ___
        .title об оказании услуг

        %table
          %tr
            %td
            г. Москва
            %td.ar
            = l(@agreement.doc_date, format: "«%d» %B %Y г.")

        %p Общество с ограниченной ответственностью «2ВАЙФАЙ», именуемое в дальнейшем «Исполнитель», в лице _____________________ (данные агента) «_____________» _______________, действующего на основании агентского договора № ___ от «____» ___________ 2016г. и доверенности № ___ от «___» _______ ____, с одной стороны, и _________________________________ именуемое в дальнейшем «Абонент», в лице _________________________действующего на основании _______________________, с другой стороны, совместно именуемые «Стороны», а каждый по отдельности – «Сторона», заключили настоящий Договор (далее – Договор) о нижеследующем:

        .header 1.	ОСНОВНЫЕ ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
        %p Система идентификации – система регистрации идентификационных данных Пользователей с целью авторизации Пользователей, в том числе путем направления смс-сообщения с кодом идентификации после обращения устройства Пользователя на доступ к сети интернет, производимая Пользователем с целью получения доступа к беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть Интернет.
        %p Пользователь - физические лица (в том числе, посетители Помещений Абонента), подключающиеся к беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть Интернет.
        %p Помещения Абонента – (наименование объекта) ______________, расположенный по адресу ______________________________________________________.

        %p Идентификационные данные – номер телефона, а также mac-адрес устройства Пользователя.
        %p Прочие услуги – следующие виды оказываемых Исполнителем в адрес Абонента, после получения предварительного согласия Пользователей:
        %ul
          %li Баннерная реклама при подключении Пользователей к беспроводной сети Интернет в Помещениях Абонента: предоставление Абоненту баннерной платформы по показу рекламы Пользователям в браузере Пользователей непосредственно перед предоставлением сеансового доступа к сети Интернет. Показ рекламы осуществляется пользователям после прохождения обязательной процедуры по идентификации и при последующих подключениях пользователя;
          %li СМС Рассылка: Рассылка смс-сообщений на телефонные номера Пользователей, содержащих информацию рекламного характера о Абоненте (после получения предварительного согласия Пользователя Исполнителем);
          %li Реклама в социальных сетях: Показ рекламы Абонента в социальных сетях по базе данных Пользователей с использованием аккаунта социальной сети Пользователей;
          %li Предоставление Абоненту доступа в личный кабинет для получения статистической информации об услугах, в том числе, количество Пользователей, количество номеров для возможной отправки SMS, количество аккаунтов для возможной рекламы в социальных сетях.
        %p Отчетный период - 1 (один) календарный месяц, в котором производится оказание Услуг по настоящему Договору. В случае оказания Услуг в неполном календарном месяце Отчетным периодом признается период с даты начала по дату окончания фактического оказания Услуг.
        %p Лицевой счет – счетчик, регистр аналитического учета взаиморасчетов Исполнителя с Абонентом за предоставленные Услуги, на котором фиксируются платежи Абонента и суммы денежных средств, удержанные (списанные) из данных платежей в качестве оплаты за предоставленные Услуги. Лицевой счет имеет уникальный номер.
        %p Внесение денежных средств на Лицевой счет – платеж Абонента Исполнителю с указанием номера Лицевого счета. Платеж может быть осуществлен, безналичным переводом на расчетный счет Исполнителя, переводом с банковской карты или с использованием иных способов, предусмотренных законодательством РФ.
        %p Списание денежных средств с Лицевого счета – списание денежных средств из платежей Абонента в качестве оплаты за предоставленные Услуги.
        %p Баланс лицевого счета – разница между двумя суммами денежных средств в определенный момент времени. Первая сумма состоит из денежных средств, внесенных на Лицевой счет до данного момента времени; вторая сумма состоит из денежных средств на данный момент времени, и денежных средств, списанных с Лицевого счета до данного момента времени.
        %p Личный кабинет – совокупность логически связанных веб-страниц на сервере Исполнителя, доступная для просмотра из сети Интернет, содержащая текст настоящего Договора, описание доступных услуг, способов внесения денежных средств на Лицевой счет, справки и инструкции, руководства пользователя, а также статистическую информацию об объеме полученных Услуг и текущем состоянии Лицевого счета Абонента. Кроме того, на данной странице также размещаются официальные уведомления Исполнителя в адрес Абонента. Доступ в Личный кабинет осуществляется после проведения процедуры Авторизации.
        %p Заказ на предоставление Услуги (Приложение № 1 к Договору) – Приложение к Договору, заключаемое между Абонентом и Исполнителем, в котором указываются точные данные по каждой требующейся прочей Услуге.
        %p Аутентификационные данные – уникальный логин (login) и пароль (password) Абонента, используемые для доступа к Личному кабинету.
        %p Авторизация Абонента – процесс анализа введенных Абонентом Аутентификационных данных, по результатам которого определяется наличие у Абонента права войти в Личный кабинет.

        .header 2. ПРЕДМЕТ ДОГОВОРА

        %p 2.1	Абонент поручает, а Исполнитель принимает на себя обязательства выполнить работы по организации и поддержанию работоспособности Системы идентификации. Под организацией Системы идентификации понимается следующее: организация технической возможности автоматизированного сбора Идентификационных данных в отношении Пользователей.
        %p 2.2	Организация Системы идентификации предусматривает автоматизированную систему записи, систематизации, накопления, хранения (обновления, изменения), извлечения, использования, передачи, обезличивания, блокирования, а также уничтожения Идентификационных данных Пользователей на рабочих мощностях (серверах) Исполнителя.
        %p 2.3	Поддержание работоспособности Системы идентификации заключаются в поддержании работоспособности Системы идентификации на программном уровне, а также обеспечение надлежащей обработки Идентификационных данных. Срок хранения Идентификационных данных в Системе идентификации Исполнителя определяется Исполнителем самостоятельно, но не может быть менее 5 (пяти) лет с момента последнего использования Пользователем беспроводной сети Wi-Fi для выхода в информационно-коммуникационную сеть Интернет.
        %p 2.4	В рамках текущего договора, по требованию Абонента, Исполнитель принимает на себя обязательства по оказанию прочих Услуг, предусмотренных настоящим Договором. Детализированный перечень прочих Услуг и их стоимость представлены в личном кабинете Абонента.

        .header 3. СРОКИ ВЫПОЛНЕНИЯ ОБЯЗАТЕЛЬСТВ

        %p 3.1. Работы по организации Системы идентификации должны быть выполнены Исполнителем в течение 10 (десяти) рабочих дней с момента заключения настоящего Договора.
        %p 3.2. Поддержание работоспособности Системы идентификации осуществляется Исполнителем в течение всего срока действия настоящего Договора.
        %p 3.3.  Прочие услуги могут быть оказаны Исполнителем в течение всего срока действия Договора с момента заключения настоящего Договора. В случае изменения перечня Услуг, данное изменение оформляется новым приложением к настоящему Договору.

        .header 4.	ПРАВА И ОБЯЗАННОСТИ СТОРОН

        %p 4.1	Абонент обязан:
        %p 4.1.1. Принять результат оказанных услуг или направить Исполнителю мотивированный отказ от приемки в порядке и в сроки, установленные настоящим Договором.
        %p 4.1.2. Оплатить оказанные Исполнителем услуги по настоящему Договору путем перечисления денежных средств на расчетный счет Исполнителя, в порядке, установленном разделом 5 настоящего Договора.

        %p 4.2	Абонент вправе:
        %p 4.2.1	Осуществлять контроль за процессом оказания услуг Исполнителем, не вмешиваясь при этом в деятельность Исполнителя.

        %p 4.3 Исполнитель обязан:
        %p 4.3.1 Оказать услуги в соответствии с настоящим Договором;
        %p 4.3.2 По окончании Отчетного периода в течение 5 (пяти) рабочих дней направить Абоненту акт оказанных услуг.
        %p 4.3.3 Разместить бренд Абонента в момент обращения Пользователя к Системе Идентификации.
        %p 4.3.4 Обеспечить Систему идентификации, а также соответствующие рабочие мощности (серверы) надлежащим уровнем защищенности с целью исключения и недопущения ситуации доступа к Идентификационным данным третьим лицам в отсутствие надлежащим образом полученного согласия Пользователей.
        %p 4.3.5. Не производить авторизацию Пользователей в Системе идентификации в отсутствие согласия Пользователя на обработку Идентификационных данных.

        %p 4.4.  Исполнитель вправе:
        %p 4.4.1 Требовать от Абонента подписания Акта оказанных услуг и выплаты вознаграждения в порядке и сроки, предусмотренные настоящим Договором.
        %p 4.4.2 Отказаться от исполнения обязательств по Договору, предупредив об этом Абонента за 10 (десять) календарных дней путем письменного уведомления, направленного по адресу места нахождения Абонента.
        %p 4.4.3. Осуществить показ рекламы сторонней организации при подключении Пользователей к беспроводной сети Интернет в Помещениях Абонента после согласования данной возможности с Абонентом. Уведомление о намерении произвести показ рекламы сторонней организации производится через Личный кабинет. К уведомлению прилагаются макеты рекламной кампании и планируемое количество показов.

        .header 5. СТОИМОСТЬ И ПОРЯДОК ОПЛАТЫ

        %p 5.1. Оказание услуг Исполнителем осуществляется при наличии положительного Баланса лицевого счета Абонента.
        %p 5.2. Расшифровка суммы вознаграждения за Отчетный период формируется в Личном кабинете. Внесение денежных средств на Лицевой счет Абонента и списание денежных средств с Лицевого счета формируют Баланс лицевого счета и отражаются в Личном кабинете Абонента.
        %p 5.3. Вознаграждение Исполнителя за оказание работы по организации и поддержанию работоспособности Системы идентификации рассчитывается из постоянной и переменной части:
        %p - постоянная часть, которая составляет __________ руб. за Отчетный период. НДС не облагается в связи с применением Исполнителем упрощенной системы налогообложения;
        %p - переменная часть, которая рассчитывается как произведение количества смс-сообщений, обработанных Исполнителем при оказании Услуги авторизации за Отчетный период, на стоимость, указанной в Приложении №1 к настоящему Договору, за одно смс-сообщение.
        %p 5.4. В случае показа рекламы сторонней организации согласно пункту 4.4.3., Исполнитель выплачивает Абоненту вознаграждение за предоставленную возможность осуществить показ рекламы сторонней организации из расчета 1 (один) рубль за 1 (один) показ без учета НДС.
        %p 5.5. Сумма, сформированная после завершения рекламной кампании, равная произведению количества фактических показов на основании статистики в Личном кабинете на стоимость за показ, указанную в п. 5.4., будет перечисляться Абоненту  на Лицевой счет через 45 (сорок пять) рабочих дней с даты завершения рекламной кампании.

        %p 5.6. Все расчеты по Договору производятся в безналичном порядке. Обязательства Абонента по оплате считаются исполненными на дату зачисления денежных средств на расчетный счет Исполнителя.
        %p 5.7. В случае, когда невозможность исполнения возникла по обстоятельствам, за которые ни одна из Сторон не отвечает, Абонент возмещает Исполнителю фактически понесенные им расходы в рамках настоящего Договора.

        .header 6. ПОРЯДОК ОКАЗАНИЯ УСЛУГ

        %p 6.1. Датой начала оказания Услуг является дата поступления денежных средств Исполнителю. Сдача-приемка оказанных услуг по настоящему Договору осуществляется по акту приема-передачи оказанных услуг за  отчетный период.
        %p 6.2. Исполнитель в течение 5 (пяти) рабочих дней после окончания Отчетного периода направляет Абоненту для подписания акт приема-передачи оказанных услуг.
        %p 6.3 Абонент в течение 5 (пяти) рабочих дней с даты получения от Исполнителя акта оказанных услуг, обязан рассмотреть и подписать акт оказанных услуг  при отсутствии разногласий. В случае наличия разногласий Абонент направляет в адрес Исполнителя письменную претензию с обоснованием причин невозможности подписания акта оказанных услуг в представляемом Исполнителем виде, а также с указанием замечаний к качеству оказанных Исполнителем услуг.
        %p 6.4	Исполнитель в срок до 5 (пяти) рабочих дней рассматривает полученную от Абонента претензию и предпринимает все меры для устранения указанных в ней замечаний.
        %p 6.5	В случае отсутствия возможности устранения замечаний и согласия Исполнителя с фактом их наличия акт оказанных услуг может быть принят в части, согласованной Сторонами.
        %p 6.6	В случае несогласия Исполнителя с предъявляемыми Абонентом замечаниями, указанными в претензии, Стороны собирают комиссию с целью урегулирования вопросов, представленных в Претензии.
        %p 6.7	В случае отсутствия письменных претензий в срок, указанный в п. 6.3 Договора, Абонент подписывает акт оказанных услуг и направляет экземпляр Исполнителя в адрес Исполнителя. Подписанный экземпляр акта приема-передачи направляется Исполнителю по почте или курьером.
        %p 6.8	Услуги считаются принятыми Абонентом после подписания акта приема-передачи оказанных услуг.

        .header 7. ОТВЕТСТВЕННОСТЬ СТОРОН

        %p 7.1 В случае отсутствия работоспособности Системы идентификации на программном уровне, Абонент вправе требовать от Исполнителя уплаты неустойки (пени) за каждый день отсутствия работоспособности Системы идентификации в размере 0,1 % (одна десятая) процентов от постоянной части вознаграждения исходя из расчета на 1 (один) календарный месяц оказания услуг за каждый день просрочки.
        %p 7.2. В случае не предоставления Исполнителем прочих Услуг, Абонент вправе требовать от Исполнителя уплаты неустойки (пени) за каждый день неоказания Услуг в размере 0,1 % (одна десятая) процентов от неуплаченной части вознаграждения.
        %p 7.3. Все пени, штрафы и неустойки выплачиваются на основании предъявленного письменного требования Стороны.
        %p 7.4. Во всех других случаях неисполнения обязательств по Договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.

        .header 8. ФОРС-МАЖОР

        %p 8.1	Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если оно явилось следствием действия обстоятельств непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств: природных стихийных явлений (землетрясений, наводнений и т.д.), действия внешних объективных факторов (военные действия, запретительные акты государственных органов и т.п.), на время действия этих обстоятельств, если эти обстоятельства непосредственно повлияли на исполнение настоящего Договора.
        %p 8.2	Если в результате обстоятельств непреодолимой силы имуществу нанесен значительный, по мнению одной из Сторон, ущерб, то эта Сторона обязана уведомить об этом другую сторону немедленно, после чего стороны обязаны обсудить целесообразность дальнейшего продолжения проведения работ и заключить дополнительное соглашение с обязательным указанием новых сроков, порядка ведения и стоимости работ, которое с момента его подписания становится неотъемлемой частью настоящего договора, либо инициировать процедуру расторжения договора в соответствии с гражданским законодательством Российской Федерации.
        %p 8.3	Если, по мнению Сторон, оказание услуг может быть продолжено в порядке, действовавшем до начала действия обстоятельств непреодолимой силы, то срок исполнения обязательств по настоящему Договору продлевается соразмерно времени, в течение которого действовали обстоятельства непреодолимой силы и их последствия.

        .header 9. СРОК ДЕЙСТВИЯ, ИЗМЕНЕНИЕ И ДОСРОЧНОЕ РАСТОРЖЕНИЕ ДОГОВОРА

        %p 9.1. Настоящий Договор вступает в силу с момента его подписания Сторонами и действует до 31.12.2016.
        %p Договор автоматически продлевается на каждый последующий календарный год, если ни одна из Сторон не уведомит другую о расторжении Договора не менее чем за 30 (тридцать) календарных дней до окончания текущего срока действия Договора.
        %p Изменение и расторжение настоящего Договора производится в порядке, установленном действующим законодательством Российской Федерации, и оформляется письменным соглашением сторон или вынесенным в установленном порядке решением суда.
        %p При расторжении настоящего Договора по соглашению сторон:
        %ul
          %li Абонент принимает фактически оказанные Исполнителем на момент расторжения настоящего Договора услуги;
          %li в течение 5 (пяти) рабочих дней Стороны оформляют и утверждают документы, предусмотренные разделом 6 настоящего Договора;
          %li в течение 5 (пяти) рабочих дней с момента подписания документов, предусмотренных разделом 6 настоящего Договора, Абонент оплачивает стоимость фактически оказанных Исполнителем Услуг.
        %p Договор считается расторгнутым только при условии урегулирования сторонами материальных и финансовых претензий по выполненным до момента расторжения настоящего Договора обязательствам.
        %p 9.2. Настоящий Договор составлен в двух экземплярах, имеющих равную юридическую силу, по одному экземпляру для каждой Стороны.

        .header  10.	КОНФИДЕНЦИАЛЬНОСТЬ

        %p 10.1	Стороны принимают на себя безусловное обязательство сохранять в тайне всю информацию, передаваемую ими друг другу в устной, письменной и иной форме, или ставшую им известной вследствие заключения и исполнения Договора. Такая информация считается конфиденциальной и не подлежит разглашению ни одной из сторон (равно как и их правопреемниками) ни устно, ни письменно, ни в какой-либо другой форме прямо или непосредственно третьим лицам, как в период действия Договора, так и после его завершения.
        %p 10.2	Требования п. 10.1. Договора не распространяются на случаи раскрытия конфиденциальной информации по запросу уполномоченных организаций и в случаях, предусмотренных законодательством Российской Федерации.
        %p 10.3	Любой ущерб, причиненный стороне несоблюдением требований настоящей статьи Договора, подлежит полному возмещению виновной стороной.

        .header 11.	РАЗРЕШЕНИЕ СПОРОВ

        %p 11.1. Стороны будут стремиться к разрешению всех возможных споров и разногласий, которые могут возникнуть по Договору или в связи с ним, путем переговоров.
        %p 11.2. В случае невозможности разрешения разногласий путем переговоров они подлежат рассмотрению в Арбитражном суде г. Москвы по месту нахождения ответчика.

        .header 12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ

        %p 12.1	Во всем ином, не урегулированном в настоящем Договоре, Стороны будут руководствоваться нормами действующего законодательства Российской Федерации.
        %p 12.2	Любая договоренность между Сторонами, влекущая за собой новые обязательства, не предусмотренные настоящим Договором, считается действительной, если она подтверждена Сторонами в письменной форме в виде дополнительного соглашения.
        %p 12.3	Стороны пришли к соглашению, что по денежным обязательствам Сторон по Договору проценты за пользование денежными средствами, предусмотренные ст. 317.1 Гражданского кодекса РФ, не начисляются.



        .header 13.	АДРЕСА МЕСТА НАХОЖДЕНИЯ И РЕКВИЗИТЫ СТОРОН

        %table

          %tr
            %td(width="50%")«____________________ »
            %td(width="50%")ООО «2ВАЙФАЙ»

          %tr
            %td Адрес:
            %td Адрес: г. Москва, ул. Баррикадная, д. 8, стр. 5А.

          %tr
            %td ОГРН
            %td ОГРН 1157746756551

          %tr
            %td ИНН
            %td ИНН 7703391689

          %tr
            %td КПП
            %td КПП 770301001

          %tr
            %td ОКПО
            %td ОКПО 47540672

          %tr
            %td Платежные реквизиты:
            %td Платежные реквизиты:

          %tr
            %td
            %td в «ВТБ24» (ПАО), г. Москва

          %tr
            %td р/с
            %td Р/c  40702810000000153504

          %tr
            %td к/с
            %td к/с  30101810100000000716

          %tr
            %td БИК
            %td БИК 044525716

          %tr
            %td _____________________
            %td Генеральный директор

          %tr
            %td _____________________ /
            %td _______________________/ К.А. Гордон

          %tr
            %td
            %td

          %tr
            %td
            %td По доверенности № ___ от «___»_________ _____ г.

          %tr
            %td
            %td Наименование агента: _______________________

          %tr
            %td
            %td Представитель Агента: _______________________

          %tr
            %td
            %td _______________________ / __________

          %tr
            %td
            %td М.П.



        %table
          %tr
            %td
            %td.ar
              Приложение №1 к Договору об оказания услуг № ___ от ____________

        .header 1.	Тарифы на отправку сообщений для осуществления идентификации пользователей.

        %table

          %tr
            %td(width="50%") SMS-сообщения абонентам
            %td(width="50%") Стоимость маршрутизации 1(одного) SMS-сообщения руб. НДС не облагается

          %tr
            %td Мегафон
            %td 1

          %tr
            %td Билайн
            %td 1

          %tr
            %td МТС
            %td 1

          %tr
            %td Теле2 (тариф с 01.12.2015)
            %td 1

          %tr
            %td Екатеринбург 2000 (Мотив)
            %td 1

          %tr
            %td Смартс
            %td 1

          %tr
            %td Скартел (Yota)
            %td 1

          %tr
            %td Скайлинк/Сотел
            %td 1

          %tr
            %td СНГ
            %td 1,70

          %tr
            %td Зарубежные операторы
            %td 2,50


        %p
          * В соответствии с Правилами предоставления услуг, сообщение, имеющее итоговую длину свыше 160 символов в
          латинице или свыше 70 символов в кириллице, считается длинным и разделяется на несколько коротких SMS-сообщений
          (до 150 символов в латинице или до 66 символов в кириллице) и тарифицируется как необходимое число коротких
          сообщений, необходимых для отправки длинного сообщения.


        .header 2. Тарифы на отправку сообщений для осуществления SMS рассылки.

        %table

          %tr
            %td(width="50%") SMS-сообщения абонентам
            %td(width="50%") Стоимость маршрутизации 1(одного) SMS-сообщения руб. НДС не облагается

          %tr
            %td Мегафон
            %td 2

          %tr
            %td Билайн
            %td 2

          %tr
            %td МТС
            %td 2

          %tr
            %td Теле2 (тариф с 01.12.2015)
            %td 2

          %tr
            %td Екатеринбург 2000 (Мотив)
            %td 2

          %tr
            %td Смартс
            %td 2

          %tr
            %td Скартел (Yota)
            %td 2

          %tr
            %td Скайлинк/Сотел
            %td 2

          %tr
            %td СНГ
            %td 2,50

        %p * В соответствии с Правилами предоставления услуг, сообщение, имеющее итоговую длину свыше 160 символов в латинице или свыше 70 символов в кириллице, считается длинным и разделяется на несколько коротких SMS-сообщений (до 150 символов в латинице или до 66 символов в кириллице) и тарифицируется как необходимое число коротких сообщений, необходимых для отправки длинного сообщения.


        %table
          %tr
            %td(width="50%") АБОНЕНТ:
            %td(width="50%") ИСПОЛНИТЕЛЬ:

          %tr
            %td ______________________
            %td ООО «2ВАЙФАЙ»

          %tr
            %td ______________________
            %td Генеральный директор

          %tr
            %td
            %td

          %tr
            %td ____________________ /
            %td _________________/ К.А. Гордон

          %tr
            %td м.п.
            %td м.п.


        %table
          %tr
            %td
            %td.ar
              Приложение 2 К агентскому договору № ___ от «____» ________ _____


        .header Перечень услуг и их стоимость

        %p Общество с ограниченной ответственностью «2ВАЙФАЙ», в лице Генерального директора Гордона Константина Александровича, действующего на основании Устава, именуемое в дальнейшем «Принципал», с одной стороны, и ___________________________, именуемое в дальнейшем «Агент», в лице ___________________, действующего на основании __________, с другой стороны во исполнение агентского договора № ____от «__» _______ 201_ г., заключенного между ними, согласовали и подписали настоящее Приложение № 2 к указанному договору о стоимости Услуг Принципала Абонентам:

        %table
          %tr
            %td(width="33%") Перечень услуг
            %td(width="33%") Стоимость за единицу, руб.
            %td(width="33%") Стоимость, итого, руб.

          %tr
            %td Баннерная реклама Абонента при подключении Пользователей к беспроводной сети Интернет в Помещениях Абонента
            %td Включена в сумму остального перечня услуг
            %td Включена в сумму остального перечня услуг

          %tr
            %td Баннерная реклама Абонента на территории других беспроводных сетей, доступных в личном кабинете Принципала
            %td Абонентская плата - 500 руб. в месяц.
            %td Абонентская плата - 500 руб. в месяц.

          %tr
            %td СМС Рассылка по собранной базе данных номеров, подтвердивших свое согласие на получение рекламных СМС
            %td 2 руб за СМС
            %td Формируется по факту количества СМС

          %tr
            %td Реклама в социальных сетях
            %td 30 рублей за клик (переход)
            %td Формируется по факту объема кликов (переходов)

          %tr
            %td Доступ к личному кабинету для получения статистики
            %td Включена в сумму остального перечня услуг
            %td Включена в сумму остального перечня услуг

        %p НДС не облагается, в связи с применением Принципалом упрощенной системы налогообложения.

        %p Подписи Сторон

        %table
          %tr
            %td(width="33%") Сторона:
            %td(width="33%") Агент
            %td(width="33%") ООО “2ВАЙФАЙ”

          %tr
            %td Уполномоченное лицо:
            %td __________________
            %td Гордон К.А.

          %tr
            %td Должность:
            %td __________________
            %td Генеральный директор

          %tr
            %td Подпись:
            %td
            %td

          %tr
            %td
            %td __________________________
            %td __________________________

          %tr
            %td Место печати:
            %td М.П.
            %td М.П.




        %table
          %tr
            %td
            %td.ar
              Приложение 3 К агентскому договору № ___ от «____» ________ _____


        .title Доверенность № ___

        %table
          %tr
            %td г. Москва
            %td.ar
              Дата выдачи: «____» ________ _____

        %p Общество с ограниченной ответственностью «2ВАЙФАЙ» (далее – «Доверитель»), ИНН 7703391689, юридический адрес: г. Москва, ул. Баррикадная, д. 8, стр. 5А, основной государственный регистрационный номер 1157746756551,
        в лице Генерального директора Гордона Константина Александровича, действующего на основании Устава, настоящей доверенностью уполномочивает
        _______________________________________ ИНН ________________, юридический адрес: _______________________________________, основной государственный регистрационный номер _____________________,
        в лице _____________________, действующего на основании ________________,
        На основании Агентского договора, заключенного между Доверителем и _________________________________, от имени и за счет Доверителя совершать юридические и иные действия, содействующие предоставлению Абонентам Услуг Доверителя, а именно:
        от имени Доверителя заключать Договоры об оказании Услуг и подписывать приложения, расторгать указанные договоры, в соответствии с условиями Агентского договора.
        %p Настоящая доверенность выдана сроком на три года без права передоверия.
        %p Генеральный директор ООО «_________________»


        %table
          %tr
            %td(width="50%") Согласовано:
            %td(width="50%") Согласовано:

          %tr
            %td От Агента
            %td От Принципала

          %tr
            %td ___________________
            %td Генеральный директор

          %tr
            %td
            %td

          %tr
            %td _________________(_____________)
            %td _______________(Гордон К.А.)

          %tr
            %td м.п.
            %td м.п.
